<div class="col-md-12">
	<div class="panel panel-primary">
	  	<div class="panel-heading">
	  		<span class="glyphicon glyphicon-calendar">&nbsp;{{new.date | date : 'dd/MM/yyyy HH:mm'}}</span>
	    	<span class="glyphicon glyphicon-trash pull-right" ng-click="removeNew(new._id.$oid, $index);"></span>
	    	<span class="glyphicon glyphicon-plus pull-right" ng-show="!plus" ng-click="plus = !plus">&nbsp;</span>
	    	<span class="glyphicon glyphicon-minus pull-right" ng-show="plus" ng-click="plus = !plus">&nbsp;</span>
	    	<a href="/#/news/{{new._id.$oid}}"><span class="glyphicon glyphicon-folder-open pull-right">&nbsp;</span></a>
	    </div>
	  	<div class="panel-body">
	    	<p ng-show="!plus">{{new.news_short}}</p>
	    	<p ng-show="plus">{{new.news_long}}</p>
	  	</div>
	  	<div class="panel-footer">{{new.author}}</div>
	</div>
</div>